[Unit]
Description=GNU Krell Monitors server
Documentation=man:gkrellmd(1)
After=hddtemp.service

[Service]
ExecStart=/usr/bin/gkrellmd

[Install]
WantedBy=multi-user.target
